////////////
// VARIABLES //
////////////

//colors and text
$primary-bg-color:#fff;
$primary-font-color:#444;
$primary-link-color:blue;
$primary-font-family:Verdana, sans-serif;

$secondary-bg-color: blue;
$secondary-font-color: #fff;
$secondary-link-color:#fff;
$secondary-font-family:Georgia, serif;

$tertiary-bg-color:orange;
$tertiary-font-color: #f9f9f7;
$tertiary-link-color: #f9f9f7;
$tertiary-font-family:Georgia, serif;


/* GRID FROM RESPONSIVE GRID SYSTEM http://www.responsivegridsystem.com/ */

// col.css
/*  SECTIONS  ============================================================================= */

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}

/* do this inline below jcm .col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col { 
        margin: 1% 0 1% 0%;
    }
}
//12cols.css
/*  GRID OF TWELVE   ============================================================================= */

.span_12_of_12 {
    width: 100%;
}

.span_11_of_12 {
    width: 91.46%;
}

.span_10_of_12 {
    width: 83%;
}

.span_9_of_12 {
    width: 74.54%;
}

.span_8_of_12 {
    width: 66.08%;
}

.span_7_of_12 {
    width: 57.62%; 
}

.span_6_of_12 {
    width: 49.16%; 
}

.span_5_of_12 {
    width: 40.7%; 
}

.span_4_of_12 {
    width: 32.24%; 
}

.span_3_of_12 {
    width: 23.78%;
}

.span_2_of_12 {
    width: 15.32%; 
}

.span_1_of_12 {
    width: 6.86%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 1000px) {
    .span_12_of_12 {
        width: 100%; 
    }
    .span_11_of_12 {
        width: 100%; 
    }
    .span_10_of_12 {
        width: 100%; 
    }
    .span_9_of_12 {
        width: 100%; 
    }
    .span_8_of_12 {
        width: 100%; 
    }
    .span_7_of_12 {
        width: 100%; 
    }
    .span_6_of_12 {
        width: 100%; 
    }
    .span_5_of_12 {
        width: 100%; 
    }
    .span_4_of_12 {
        width: 100%; 
    }
    .span_3_of_12 {
        width: 100%; 
    }
    .span_2_of_12 {
        width: 100%; 
    }
    .span_1_of_12 {
        width: 100%; 
    }
}
/* END GRID FROM RESPONSIVE GRID SYSTEM  */



////////////
// CLASSES and MIXINS TO REUSE //
////////////

//color sets
.primary-color-set {
    background-color:$primary-bg-color;
    color:$primary-font-color;
    font-family: $primary-font-family;
    
    a {
        color:$primary-link-color;
    }
}

.secondary-color-set {
    background-color:$secondary-bg-color;
    color:$secondary-font-color;
    font-family:$secondary-font-family;
    a {
        color:$secondary-link-color;
    }
}

.tertiary-color-set {
    background-color:$tertiary-bg-color;
    color:$tertiary-font-color;
    font-family:$tertiary-font-family;
    a {
        color:$tertiary-link-color;
    }
}
//end color sets

//inline navigation, place in the ul

@mixin nav-inline($padding:0 1em 0 0, $margin: 0, $display: inline-block) {
    margin: 0;
    li {
        display: $display;
        padding: $padding;
        margin: $margin;
    }
}

@mixin nav-inline-item-separator($type) {
    @include nav-inline($padding: 0 .1em 0 0);
    li {
        //only add the separator if it is not the last child
        &:not(:last-child):after { //& is a parent selector for pseudo classes
            content: $type;
        }
    }
}

//float-sets for styling that doesn't work well with grid: use mixin on container and floated pieces
@mixin container-float-set($width:100%) {
    overflow:hidden;
    clear:both;
    width:$width;
}

@mixin floated($position:left, $width:20em, $pad:1em, $margin:1em) {
    float:$position;
    width:$width;
    padding:$pad;
    margin:$margin;
}
//end float-sets

//UL classes

.list-no-bullet {
    list-style-type:none;
    margin:0;
    padding:0;
}
//end UL classes

.feature {
    background-color:$primary-bg-color;
    border:solid 2px #ccc;
    border-radius:2px;
    padding:.5em;
}

.inline {
    display:inline;
}

.block {
    display:block;
}

.default-padding {
    padding:1em;
}
//hide classes
.hide {
    left: -9999px;
    position: absolute;
}
.hide-span {
    span {
        @extend .hide;
    }
}
//end hide classes




////////////
// LAYOUT //
////////////
.group-container {
    @extend .group
}

body {
    @extend .primary-color-set;
    border:solid 1px red;
}
div#wrapper {
    width:80%;
    margin: 0 auto;
}

header#banner {
    margin-bottom:1em;
    @extend .default-padding;
    @extend .secondary-color-set;
    border:solid 1px red;
}
nav {
    @extend .tertiary-color-set;
    border:solid 1px red;
    ul {
        @include nav-inline-item-separator('|');
    }
}
section#main-container {
    @extend .col;
    @extend .span_8_of_12;
    margin-left:0;
}
    section#main-container > .styling {
        padding:1em 1em 1em 0;
        border:solid 1px orange;
    }
article {
    @extend .col;
    @extend .span_6_of_12;
    .styling {
        @extend .feature;
    }
    &:first-child {
        margin-left:0;
    }
    .thumbnails p {
        @extend .col;
        @extend .span_2_of_12;
        border: solid 1px pink;
    }
}

aside {
    @extend .col;
    @extend .span_4_of_12;
}
footer {
    text-align:center;
    @extend .secondary-color-set;
    border:solid 1px red;
}





