/* GRID FROM RESPONSIVE GRID SYSTEM http://www.responsivegridsystem.com/ */
/*  SECTIONS  ============================================================================= */
.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

/*  GROUPING  ============================================================================= */
.group:before, .group-container:before,
.group:after,
.group-container:after {
  content: "";
  display: table; }

.group:after, .group-container:after {
  clear: both; }

.group, .group-container {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

/*  GRID COLUMN SETUP   ==================================================================== */
.col, section#main-container, article, article .thumbnails p, aside {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }

/* do this inline below jcm .col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */
/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col, section#main-container, article, article .thumbnails p, aside {
    margin: 1% 0 1% 0%; } }
/*  GRID OF TWELVE   ============================================================================= */
.span_12_of_12 {
  width: 100%; }

.span_11_of_12 {
  width: 91.46%; }

.span_10_of_12 {
  width: 83%; }

.span_9_of_12 {
  width: 74.54%; }

.span_8_of_12, section#main-container {
  width: 66.08%; }

.span_7_of_12 {
  width: 57.62%; }

.span_6_of_12, article {
  width: 49.16%; }

.span_5_of_12 {
  width: 40.7%; }

.span_4_of_12, aside {
  width: 32.24%; }

.span_3_of_12 {
  width: 23.78%; }

.span_2_of_12, article .thumbnails p {
  width: 15.32%; }

.span_1_of_12 {
  width: 6.86%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 1000px) {
  .span_12_of_12 {
    width: 100%; }

  .span_11_of_12 {
    width: 100%; }

  .span_10_of_12 {
    width: 100%; }

  .span_9_of_12 {
    width: 100%; }

  .span_8_of_12, section#main-container {
    width: 100%; }

  .span_7_of_12 {
    width: 100%; }

  .span_6_of_12, article {
    width: 100%; }

  .span_5_of_12 {
    width: 100%; }

  .span_4_of_12, aside {
    width: 100%; }

  .span_3_of_12 {
    width: 100%; }

  .span_2_of_12, article .thumbnails p {
    width: 100%; }

  .span_1_of_12 {
    width: 100%; } }
/* END GRID FROM RESPONSIVE GRID SYSTEM  */
.primary-color-set, body {
  background-color: white;
  color: #444444;
  font-family: Verdana, sans-serif; }
  .primary-color-set a, body a {
    color: blue; }

.secondary-color-set, header#banner, footer {
  background-color: blue;
  color: white;
  font-family: Georgia, serif; }
  .secondary-color-set a, header#banner a, footer a {
    color: white; }

.tertiary-color-set, nav {
  background-color: orange;
  color: #f9f9f7;
  font-family: Georgia, serif; }
  .tertiary-color-set a, nav a {
    color: #f9f9f7; }

.list-no-bullet {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.feature, article .styling {
  background-color: white;
  border: solid 2px #ccc;
  border-radius: 2px;
  padding: .5em; }

.inline {
  display: inline; }

.block {
  display: block; }

.default-padding, header#banner {
  padding: 1em; }

.hide, .hide-span span {
  left: -9999px;
  position: absolute; }

body {
  border: solid 1px red; }

div#wrapper {
  width: 80%;
  margin: 0 auto; }

header#banner {
  margin-bottom: 1em;
  border: solid 1px red; }

nav {
  border: solid 1px red; }
  nav ul {
    margin: 0; }
    nav ul li {
      display: inline-block;
      padding: 0 0.1em 0 0;
      margin: 0; }
    nav ul li:not(:last-child):after {
      content: "|"; }

section#main-container {
  margin-left: 0; }

section#main-container > .styling {
  padding: 1em 1em 1em 0;
  border: solid 1px orange; }

article:first-child {
  margin-left: 0; }
article .thumbnails p {
  border: solid 1px pink; }

footer {
  text-align: center;
  border: solid 1px red; }
