/* GRID FROM RESPONSIVE GRID SYSTEM http://www.responsivegridsystem.com/ */
/*  SECTIONS  ============================================================================= */
.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

/*  GROUPING  ============================================================================= */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }

/*  GRID COLUMN SETUP   ==================================================================== */
.col, section#first-section article {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }

.col:first-child, section#first-section article:first-child {
  margin-left: 0; }

/* all browsers except IE6 and lower */
/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col, section#first-section article {
    margin: 1% 0 1% 0%; } }
/*  GRID OF TWELVE   ============================================================================= */
.span_12_of_12 {
  width: 100%; }

.span_11_of_12 {
  width: 91.46%; }

.span_10_of_12 {
  width: 83%; }

.span_9_of_12 {
  width: 74.54%; }

.span_8_of_12 {
  width: 66.08%; }

.span_7_of_12 {
  width: 57.62%; }

.span_6_of_12, section#first-section article {
  width: 49.16%; }

.span_5_of_12 {
  width: 40.7%; }

.span_4_of_12 {
  width: 32.24%; }

.span_3_of_12 {
  width: 23.78%; }

.span_2_of_12 {
  width: 15.32%; }

.span_1_of_12 {
  width: 6.86%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_12_of_12 {
    width: 100%; }

  .span_11_of_12 {
    width: 100%; }

  .span_10_of_12 {
    width: 100%; }

  .span_9_of_12 {
    width: 100%; }

  .span_8_of_12 {
    width: 100%; }

  .span_7_of_12 {
    width: 100%; }

  .span_6_of_12, section#first-section article {
    width: 100%; }

  .span_5_of_12 {
    width: 100%; }

  .span_4_of_12 {
    width: 100%; }

  .span_3_of_12 {
    width: 100%; }

  .span_2_of_12 {
    width: 100%; }

  .span_1_of_12 {
    width: 100%; } }
/* END GRID FROM RESPONSIVE GRID SYSTEM  */
.primary-color-set, body {
  background-color: white;
  color: #444444;
  font-family: Verdana, sans-serif; }
  .primary-color-set a, body a {
    color: blue; }

.secondary-color-set, header#banner, footer {
  background-color: blue;
  color: white;
  font-family: Georgia, serif; }
  .secondary-color-set a, header#banner a, footer a {
    color: white; }

.tertiary-color-set, nav div.formatting {
  background-color: orange;
  color: #f9f9f7;
  font-family: Georgia, serif; }
  .tertiary-color-set a, nav div.formatting a {
    color: #f9f9f7; }

.list-no-bullet {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.feature, aside div.formatting, section#first-section article div.formatting {
  background-color: white;
  border: solid 2px #ccc;
  border-radius: 2px;
  padding: 1em; }

.inline {
  display: inline; }

.block {
  display: block; }

.default-padding, header#banner {
  padding: 1em; }

.hide, .hide-span span {
  left: -9999px;
  position: absolute; }

header#banner {
  margin-bottom: 1em; }

nav div.formatting {
  padding: .5em; }

div#main-container {
  width: 80%;
  margin: 0 auto;
  padding: .5em; }

aside div.formatting {
  margin: 1em 0 0 1em; }

footer {
  text-align: center; }

section#first-section article div.formatting {
  margin: 1em; }
